*{
    font-family: 'Source Sans Pro', sans-serif;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

html{
    height: 100%
}

body {
    background-color: #F0E5CF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container{
    position: absolute;
    overflow-x: visible;
}

svg{
    background-color: #F7F6F2;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 10px;
}

.bar{
    background-color: #4B6587;
    border-color: #4B6587;
    fill: #4B6587;
}

.bar:hover{
    opacity: 0;
}

g{
    color: #17252A
}

#tooltip{
    position: fixed;
    margin-top: 10px;
    color: #FEFFFF;
    font-size: 1.5rem;
    background-color: #17252A;
    opacity: 0.8;
    border-radius: 20px;
}

.title-container {
    width: inherit;
    position: relative;
    top: 120px;
    flex-direction: column;
}

#title{
    font-size: 3rem;
    color: #4B6587;
}
.sub-title{
    font-size: 1.8rem;
    font-weight: 500;
    opacity: 0.7;
}
